#lamp {
    width: 32px;
    height: 32px;
    position: relative;
    left: 228px;
    top: 25px;
    margin: -20px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    border:2px solid grey;
    background: lightgrey;
    text-align: center;
  }
  
  .calculator {
    width: 250px;
    height: 350px;
    border: 2px solid grey;
    margin: 100px auto 0;
    text-align: center;
    background-color: darkgrey;
    box-shadow: 0 0 30px grey;
    border-radius: 4px;
  }
  
  .form {
    height: 100%;
    padding: 20px;
  }
  
  .display {
    margin: 0 0 20px;
    width: 50%;
    height: 30px;
    padding: 4px 2px;
    text-align: center;
    textBaseline: middle;
    font-family: 'Segment7Standard'; 
    font-weight: bold; 
    font-style: italic;
    font-size: 25px;
    border: 2px solid grey;
    color: ForestGreen;
    background-color: whitesmoke;
  }
  
  .row {
      margin: 10px 0;
  }
  
  .key {
    width: 41px;
    height: 35px;
    cursor: pointer;
    font-family: 'Segment7Standard'; 
    font-weight: bold; 
    font-style: italic;
    background-color: white;
    text-transform: uppercase;
  }
  
  .key::-moz-focus-inner {
    border: none
  }
  
  .utility_row {
    display: flex;
    justify-content: space-between;
  }
  
  .clear {
    font-family: 'Segment14Regular'; 
    font-weight: bold; 
    font-style: italic;
    margin: 15px;
    width: 50px;
    height: 35px;
    align: center;
    text-align: center;
    background-color: white;
  }
  
  .answer {
    font-family: 'Segment14Regular'; 
    font-weight: bold;
    font-style: italic;
    margin: 15px;
    width: 50px;
    height: 35px;
    align: center;
    text-align: center;
    background-color: white;
  }